/* =============  GENERAL RULES  ============== */

:root {
  --bg-color: #bcc3c6;
  --text-color: #050505;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", monospace, serif;
  background-color: var(--bg-color);
  padding: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant", serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

/* =============  HOME PAGE  ============== */

header {
  background-color: #e0e5e7;
  border-radius: 6px 6px 0px 0px;
  padding-bottom: 50px;
  position: relative;
}

h1 {
  font-size: 205px;
  text-align: center;
  padding: 10px;
}

.b-navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px 65px;
  align-items: center;
}

.b-navbar .bars {
  display: none;
}

.b-navbar-login {
  display: flex;
  gap: 30px;
}
.b-navbar-login a {
  background-color: var(--bg-color);
  padding: 10px 20px;
  border-radius: 6px;
  border: 1.5px solid;
  transition: 0.4s;
}
.b-navbar-login a:hover {
  background-color: white;
}

.b-navbar ul {
  display: flex;
  min-width: 560px;
  justify-content: space-between;
}
.b-navbar ul a {
  padding: 10px 20px;
  transition: 0.4s;
}
.b-navbar ul a:hover {
  color: white;
  background-color: black;
}

.b-models-header {
  padding: 60px 0px 20px;
}

.b-models-header h2 {
  font-size: 50px;
}

.b-header-box {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 550px;
  width: 100%;
}

.b-header-box-content {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  padding: 45px;
  align-items: center;
  border-radius: 10px;
  width: 90%;
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(232, 216, 216);
}

.b-header-box-content p {
  max-width: 500px;
  line-height: 26.5px;
}

.b-main-btn,
.b-second-btn {
  color: white;
  border-radius: 8px;
  width: 100px;
  height: 50px;
  padding: 15px;
  border: 1.5px solid var(--text-color);
  background-color: var(--text-color);
  transition: 0.4s;
}

.b-main-btn:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.b-models {
  background-color: white;
  padding: 80px;
}
.b-models-cars {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  padding-top: 50px;
  flex-wrap: wrap;
}
.b-models-cars-car {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.b-second-btn:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.b-models-cars-car .b-second-btn {
  padding: 5px;
  font-size: 12px;
}

.b-models-cars-car img {
  width: fit-content;
}
.b-models-cars-car .b-buy-btn {
  transition: 0.4s;
}
.b-models-cars-car .b-buy-btn:hover {
  background-color: white;
  color: var(--text-color);
}
.b-models-cars .b-main-btn {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-models .b-main-btn {
  background-color: var(--text-color);
  padding: 10px 30px;
  border-radius: 6px;
}
.b-models .b-main-btn:hover {
  background-color: var(--bg-color);
}
.b-second-btn {
  background-color: white;
  color: var(--text-color);
  padding: 10px 30px;
  border-radius: 6px;
}

.b-models-cars-info .b-second-btn {
  border-radius: 0px;
}
.b-models-cars-car-img {
  position: relative;
}
.b-models-cars-car-img a {
  position: absolute;
  bottom: 20px;
  left: 19px;
  padding: 10px 40px;
  width: 180px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid white;
  backdrop-filter: blur(10px);
  color: white;
}

.b-models-cars-infos-price {
  font-size: 23px;
  font-weight: 600;
}

/* =========================================== */
.b-about {
  background-color: white;
  padding: 80px;
}

.b-about h2 {
  font-size: 46px;
  padding-bottom: 30px;
}
.b-about-cars {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.b-about-cars-car {
  position: relative;
}

.b-about-cars-car {
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-about-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  gap: 20px;
}

.b-about-link p {
  max-width: 299px;
  text-align: center;
}
.b-about-link a {
  font-size: 16px !important;
  width: 150px !important;
  border-radius: 6px !important;
  text-align: center;
}

.b-about-cars-car .b-about-link {
  position: absolute;
  bottom: 30px;
}

/* =====================   FOOTER  ========================= */
footer {
  background-color: var(--text-color);
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  gap: 50px;
  border-radius: 0px 0px 6px 6px;
}

.b-footer-header {
  display: flex;
  flex-direction: column;
  align-items: start;
}
footer .b-forms {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0px;
}

footer .a-1section-h3 {
  padding-top: 10px !important;
}

footer .b-main-btn {
  border-color: white;
  border-radius: 6px;
}

footer .b-footer-button-box {
  display: flex;
  width: 400px;
  justify-content: end;
}

.b-footer-nav {
  width: 100%;
  padding: 15px 35px 0px;
  font-family: "Cormorant";
  font-size: 20px;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

footer ul li a {
  color: white;
}

/* =================== PHONE SCREEN  ======================== */
@media (max-width: 451px) {
  body {
    padding: 10px;
  }

  header {
    height: 90vh;
  }
  h1 {
    position: absolute;
    font-size: 65px;
    top: 150px;
    text-align: center;
    font-weight: 500;
  }
  .b-navbar {
    padding: 20px 25px;
  }
  .b-mercedes {
    display: none;
  }
  .b-navbar-login {
    gap: 10px;
  }

  .b-navbar-login a {
    font-size: 16px;
    padding: 5px 10px;
  }

  .b-navbar span,
  .b-navbar .bars {
    font-size: 25px;
  }

  .b-navbar .bars {
    display: block;
  }

  .b-header-box {
    top: 325px;
  }

  .b-header-box-content {
    flex-direction: column;
    padding: 30px;
  }
  .b-header-box-content div {
    margin-top: 20px;
  }

  .b-models {
    padding: 30px;
  }

  .b-about h2,
  .b-models h2 {
    font-size: 35px;
  }

  .b-models-filter .b-second-btn,
  .b-models-filter .b-main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 2px;
  }

  .b-models-filter {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 6px;
  }
  .b-models-header {
    padding: 60px 2px 20px;
  }
  .b-navbar ul {
    display: none;
  }
  .b-about img {
    max-width: 300px;
    height: fit-content;
  }
  .b-about {
    background-color: white;
    padding: 30px;
    text-align: center;
  }

  .b-about p,
  .b-about a {
    font-size: 12px;
    max-width: 200px;
  }
  footer {
    height: 670px;
    gap: 30px;
  }
  footer .b-footer-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer form input {
    width: 100% !important;
  }
  footer .b-footer-button-box {
    display: flex;
    width: 350px;
    justify-content: end;
  }
  .b-footer-nav {
    padding: 15px 35px 0px;
    font-size: 15px;
  }

  .b-footer-nav ul {
    display: grid;
    padding: 15px 35px 0px;
    font-size: 15px;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
  .b-footer-nav ul li:last-child {
    grid-column: 2 / 4;
  }
}

/* =========================================== */
.Y-wrapper {
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
}
  /* ==============================================Sign in an Sign up========================================================== */

  /* ==============================================Sign in an Sign up========================================================== */

.Y-wrapper{
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}

.Y-wrapper {
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
}

.Y-signin {
  color: white;
  display: grid;
  grid-template-rows: 30% 25% 25% 20%;
  align-items: start;
  font-size: 30px;
  grid-gap: 5px;
}

.Y-signin {
  color: white;
  display: grid;
  grid-template-rows: 30% 25% 25% 20%;
  align-items: start;
  font-size: 30px;
  grid-gap: 5px;
}

.Y-button {
  background-color: black;
  border-color: white;
  border-width: 4px;
  color: white;
  border-radius: 0;
  width: 458px;
  height: 97px;
}

.Y-button{
    background-color: black;
    border-color: white;
    border-width: 4px;
    color: white;
    border-radius: 0;
    width: 458px;
    height: 97px;
}

.Y-button {
  background-color: black;
  border-color: white;
  border-width: 4px;
  color: white;
  border-radius: 0;
  width: 458px;
  height: 97px;
}

/* /============ adding car page  =======/ */
.a-add-car-h2 {
  padding: 0.5em 0em 0.5em 2em;
  font-size: 5em;
  font-weight: 500;
}
.a-add-car {
  background-color: #e0e5e7;
}
.a-main {
  background-color: #bcc3c6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-content: space-between;
  align-items: end;
  justify-items: end;
}
.a-forms {
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: start;
  justify-content: space-evenly;
}
#a-main-div-form {
  padding: 6em 8em;
}

#a-main-div-form input {
  border: none;
  border-bottom: 1px solid black;
  background-color: #bcc3c6;
  color: black;
  width: 400px;
  min-height: 30px;
}

#a-main-div-form label {
  padding-left: 20px;
}
#abircars5 {
  width: fit-content;
  height: fit-content;
}
.a-1section {
  background-color: #050505;
}
.a-1section-h3 {
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 1em 0em;
  font-weight: 400;
}

.a-1section-div {
  display: grid;
  gap: 4em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 6em;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
#a-1section-div-form1,
#a-1section-div-form2 {
  color: white;
}
#a-1section-div-form1 input,
#a-1section-div-form2 input {
  border: none;
  border-bottom: 1px solid white;
  background-color: black;
  color: white;
  width: 400px;
  min-height: 30px;
}
.a-1section-1img {
  width: 400px;
  padding-bottom: 2em;
}


.icons img{
  height: 16px;
}

.Y-container{
  height: fit-content;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  background-color: white;
}

.signupClass{
  text-align: center;
  font-size: 34px;
  color: black;
  padding-bottom: 34px;
}

.Y-container2{
  display: grid;
  grid-template-rows: auto auto auto auto auto;

}

.icon-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  border: 2px solid black;
  
}

.icons{
  padding: 10px;
}

.hr-line p{
  padding-left: 15px;
  padding-right: 15px;
}
hr{
  width: 193px;
}

.hr-line{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.Y-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 34px;
  border: 2px solid black;
}

.Y-name-inputs{
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 25px;
}

.names-input{
  display: flex;
  flex-direction: column;
}

.input-box{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Y-input{
  display: flex;
  flex-direction: column;
}

.Y-input input,
.names-input input{
  border: none;
  border-bottom: 1px solid black;
}

/* ==============================================Sign in an Sign up========================================================== */
/* ==============================================Sign in an Sign up========================================================== */

/* ================================ PAGE DETAIL ================================== */

.K-infosCar {
  /* width: auto; */
  /* height: 100px;  */
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  border-radius: 10px;
  padding: 25px;
}

.K-info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: start;
}

.K-info-supp p {
  color: #969696;
}


.K-sectionP {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* background-color: ; */
}

.K-header-navbar {
  display: flex;
  justify-content: space-between;
  /* padding: 5px 65px; */

}

.K-header-navbar ul {
  display: flex;
  min-width: 560px;
  justify-content: space-between;
}

.K-sectionP-div1{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.K-sectionP-infos{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 43.52%;
}
.K-sectionP-infos p{
  height: 75px;
  align-content: center; 
  padding: 15px;
}
.K-desc1{
  display: flex;
  justify-content: space-between;
  background-color: #BCC3C6;
}
.K-desc2{
  display: flex;
  justify-content: space-between;
}
.K-desc3{
  display: flex;
  justify-content: space-between;
}
.K-desc4{
  display: flex;
  justify-content: space-between;
}

.K-sectionP-imgCar {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  height: 50%;
}

.K-sectionP-imgCar-Gimage {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 450px;
}


.K-sectionP-imgCar-Pimages{
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  text-align: center;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
}

.sectionP-imgCar-Pimages-img1{
  background-color: aliceblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.sectionP-imgCar-Pimages-img{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #BCC3C6;
}
.K-sectionP-imgCar-Pimages img {
  display: flex;
  height: 96px;
}
.K-sectionP-autres {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 15px;
}

.K-Overview{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.K-Overview-desc{
  display: flex;
  justify-content: space-between;
}
.K-Overview-desc1{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}
.K-Overview-desc2{
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #999999;
  gap: 20px;

}
.K-Overview-desc3{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;

}
.K-Overview-desc4{
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #999999;
  gap: 20px;

}
.K-hr{
  width: 100%;
}


@media (max-width: 451px) {
  .K-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  /* .K-sectionP{
    display: flex;
    justify-content: center;
  } */
  
  .K-sectionP-imgCar{
    display: flex;
    justify-content: center;
    width: 96%;
    height: 100%;
  }
  
  .K-infosCar{
    width: 96%;
    display: flex;
    justify-content: space-between;
    padding: 17px;
  }
  .K-info{
    display: none;
    padding: 20px;
  }
  .K-sectionP-div1 {
    width: 100%;
  }
  
  .K-sectionP-imgCar-Gimage img{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .K-sectionP-imgCar-Pimages {
    display: flex;
    gap: 5px;
  }
  .K-sectionP-imgCar-Pimages img{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .K-sectionP-autres {
    background-color: #FFFFFF;
    /* padding: 20px; */
    border-radius: 15px;
  }
  
  .K-hr{
    width: 100%;
  }
  .K-Overview-desc{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;

  }
  
  
}

/* ================================ PAGE DETAIL ================================== */